body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 20px;
  background-image: url(02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


header {
 
  text-align: center;
  color: #fff;
}
main {
text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}
h1{
  font-size:40px;
  color: black
}


h2{font-size: 20px;
    color: black}

footer {
  
  text-align: center;
  color: #fff;
}


p {
  font-size: 100%;
  text-align: center;
  border-bottom: 1px solid #fff;
  height: 100px;
}


textarea{
  margin: 3%;
  width: 30%;
  height: 30px;
  font-size:50%;
  box-shadow: 3px 3px 3px 3px #555;
}



.cp_imghover {
	width: 310px;
}

/*
.cp_tilt {
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.cp_tilt:hover {
	-webkit-transform: rotate(-10deg);
	transform: rotate(-10deg);
}
*/

div {
display: inline-block;
}

button{
    background-color:white;
    width:310px;
    height:190px;
}

button1{
    background-color:paleturquoise;
    font-weight:310px;
    height:190px;
}

.ze{
    background-color:skyblue;
    width:310px;
    height:190px;
}


button3{
background-color: crimson;
  font-size: 20px;
  padding:10px;
  position: absolute;
  right: 100px;
  cursor:pointer;
}


img{
    width: 270px;
    height:184px;
}

.img2{
    width: 350px;
    height:251px;
}

.img3{
    width: 470px;
    height:251px;
}

.popup3 {
    display: none;
    height: 100vh;
    width: 100%;
    background: black;
    opacity: 0.95;
    position: fixed;
    top: 0;
    left: 0;
}

.popup2 {
    display: none;
    height: 100vh;
    width: 100%;
    background: black;
    opacity: 0.95;
    position: fixed;
    top: 0;
    left: 0;
}

.popup {
    display: none;
    height: 100vh;
    width: 100%;
    background: black;
    opacity: 0.95;
    position: fixed;
    top: 0;
    left: 0;
}
 
.content{
    background: white;
    padding: 50px;
    width: 50%;
}


.show {
    display: flex;
    justify-content: center;
    align-items: center;
}






/*

.square_btn{
    cursor:pointer;
    display: inline-block;
    padding: 7px 20px;
	border-radius: 25px;
    text-decoration: none;
    color: #FFF;
    transition: .5s;
    color: hotpink;
    font-size:15px
}

.square_btn:hover {

background-color:pink;
}
*/

